<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/books1.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About this site</h1>
            <span class="subheading">A demonstration app using Node, Express, EJS, and MongoDB</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This is a demonstration server-based blogging web app that uses Bootstrap, Node, Express, EJS, Mongoose and MongoDB. It demonstrates standard backend CRUD manipulation of a MongoDB database.</p>
        <p>Additional functionality includes subject and author searches, and user signup and login functionality.</p>
        <p>The basic functionality is based on Greg Lim's tutorial book "Beginning Node.js, Express, and MongoDB" with customisation and improvements added by myself. </p>
        <p>The presentation is based on the 'Clean Blog' Bootstrap template provided by <a href="https://startbootstrap.com" target="_blank"><strong>startbootstrap.com</strong></a> while images were provided by <a href="https://unsplash.com/" target="_blank"><strong>unsplash.com</strong></a></p>
        <p>Mark Allen - 2019</p>
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

</body>

</html>
